/FullScrapes/*
/IncrementalScrapes/*
/TestScrapes/*
db_import.py
incremental_scrape
full_scrape
DDOS.txt
allout.txt
cronLog.txt
cronTest
full_scrape.save
procurementScrape/spiders/test_spider.py.save
test_bash
*.sql
*.pyc
